coverage/
logs/
.logs/
*.log
*-run/
app/proxy*
mocks_/images/DeepPainterlyHarmonization/data/proxy/**/__*
.idea/
assembly/
target/
app/public/build/
run/
coverage/
cov/
logs/
node_modules/
.node-diamond-client-cache/
.DS_Store
dump.rdb
*.swp
*.log
npm-debug.log
package-lock.json
yarn.lock