::selection {
  background-color: rgba(255, 174, 0, 0.5);
  text-shadow: rgba(255, 174, 0, 0.5)
}
body {
	font-family: -apple-system, BlinkMacSystemFont, PingFang-SC-Regular, 'Hiragino Sans GB', 'Microsoft Yahei', Arial, sans-serif;
	font-size: 16px;
	color: #333;
	-webkit-font-smoothing: antialiased;

}

a, a:visited, a:active, a:focus {
	color: #555;
	background-color: transparent;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

a:focus {
	color: #555;
}

a:hover {
  color: #000;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
	text-decoration: none;
}

p {
	text-align: justify;
	line-height: 1.8;
}

/* p a {
	border-bottom: 1px dotted #555;
}

p a:hover {
	border-bottom: 1px solid #000;
} */

blockquote {
	background-color: #f5f5f5;
	border-left: 3px solid #555;
	padding: 30px;
}

.gutter {
	display: none;
}

.highlight {
	background-color: #f5f5f5;
	padding: 30px;
}

/* Forms
—————————————————————————————————————————————————————————————————————— */

form button {
  color: #777;
	font-size: 0.9rem;
	background: #fff;
  padding: 10px 15px;
	width: 100%;
  border: solid #ccc 2px;
	transition: all 0.3s ease-in-out;
  text-decoration: none;
}

form button:hover {
	color: #000;
	border: solid #000 2px;
  text-decoration: none;
}

input, textarea {
	font-size: 0.9rem;
	letter-spacing: 0.5px;
  border: 1px solid #ddd;
  background: #fff;
  padding: 15px;
	margin: 5px 0;
  transition: all 0.3s ease-in-out;
  width: 100%;

}

input:focus, textarea:focus {
  border-color: #777;
  outline: none;
}

/* Title & Navigation
—————————————————————————————————————————————————————————————————————— */

.title {
	color: #000;
	/* font-size: 1.8rem; */
	letter-spacing: 1px;
	display:inline-block;
}

.nav-item {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 0.8rem;
	font-weight: 300;
	letter-spacing: 2px;
}

.navbar-toggler {
	border: 0;
}

.navbar-toggler-right {
	right: 0rem;
}

/* Home Page
—————————————————————————————————————————————————————————————————————— */

.post-card{
	background: #fff 50%;
	background-size: cover;
	border-radius: 5px;
	box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
	transition: all .5s ease;
}
.post-card:hover {
	box-shadow: 0 0 1px rgba(39,44,49,.1), 0 3px 16px rgba(39,44,49,.07);
	transition: all .3s ease;
	transform: translate3D(0,-1px,0);
}
.image-box {
	position: relative;
	border-radius: 5px;
	height: 120px;
}

.text-desc{
	font-size: 14px;
	color: #666;
	padding: 25px;
}
/* .image-box:before{
	content: "";
	display: block;
	padding-top: 100%;
} */

.post-image {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.post-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px 5px 0 0;

}

.post-image img:hover {
	opacity: 0.8;
  filter: alpha(opacity=80);
}

.post-details {
	font-size: 1.25rem;
	
}
.post-details a{
	display: inline-block;
	max-height: 31px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
.post-details hr {
	border-color: #999;
	width: 10%;
	margin-top: 10px;
	margin-bottom: 0px;
}

.date,.pv {
	color: #666;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 0.7rem;
	font-weight: 300;
	letter-spacing: 2px;
}
.gitment-footer-container{
	display: none;
}
/* Pagination
—————————————————————————————————————————————————————————————————————— */

.pagination {
	margin: 0 auto;
}

.pagination a {
	color: #aaa;
}

.pagination a:hover {
	color: #333;
}

/* Post Page
—————————————————————————————————————————————————————————————————————— */
p{
	font-family: -apple-system, BlinkMacSystemFont, PingFang-SC-Regular, 'Hiragino Sans GB', 'Microsoft Yahei', Arial, sans-serif;
}
.cover-image {
	width: 100%;
	max-height: 500px;
	object-fit: cover;
	border-radius: 4px; 
}
.article a,.article a:link, .article a:visited, .article a:focus, .article a:hover, .article a:active{
	/* text-decoration: underline; */
	/* color: #2196F3; */
	background: linear-gradient(#fff, #fff) no-repeat scroll 0px 77%/0.05em 1px, linear-gradient(#fff, #fff) no-repeat scroll 100% 77%/0.05em 1px, linear-gradient(#FFAE00, #FFAE00) repeat-x scroll 0px 97%/1px 1px transparent;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-decoration: none;
}

.post-page h1 {
	text-align: center;
}

.post-page hr {
	border-color: #999;
	width: 5%;
	margin-top: 20px;
	margin-bottom: 10px;
}

.row p img{
	width: 100%;
}



/* Footer
—————————————————————————————————————————————————————————————————————— */

footer {
	border-top: 1px solid #eee;
}

.gitment-root-container{
	margin-top: 150px !important;
}