<% if (item.cover_image){ %>
  <div class="col-12 mb-4">
    <img class="img-fluid project-img" src="<%- config.root %><%- item.cover_image %>" alt="<%- item.title || "Untitled" %>">
  </div>
<% } %>
<div class="post-page text-center my-4">
  <%- item.content %>
</div>
